@model personapi_dotne.Models.Entities.Estudio
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Detalles del Estudio</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">Fecha</dt>
    <dd class="col-sm-10">@Model.Fecha</dd>
    <dt class="col-sm-2">Universidad</dt>
    <dd class="col-sm-10">@Model.Univer</dd>
    <dt class="col-sm-2">Cédula Persona</dt>
    <dd class="col-sm-10">@Model.CcPerNavigation?.Cc</dd>
    <dt class="col-sm-2">ID Profesión</dt>
    <dd class="col-sm-10">@Model.IdProfNavigation?.Id</dd>
</dl>
<div>
    <a asp-action="Edit" asp-route-idProf="@Model.IdProf" asp-route-ccPer="@Model.CcPer">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>